services:
#postgreSQL
  postgres:
    image: postgres:16
    container_name: blog_postgres
    restart: always
    environment:
      POSTGRES_DB: ${DATABASE_NAME}
      POSTGRES_USER: ${DATABASE_USERNAME}
      POSTGRES_PASSWORD: ${DATABASE_PASSWORD}
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5433:5432"
  #搜索
  meilisearch:
      image: getmeili/meilisearch:latest
      container_name: meilisearch
      restart: always
      environment:
        MEILI_MASTER_KEY: masterKey
      ports:
        - "7700:7700"
      volumes:
        - meili_data:/meili_data
  # strapi cms
  strapi:
    container_name: blog_strapi
    build:
      context: ./
      dockerfile: Dockerfile
    restart: always
    env_file: .env
    depends_on:
      - postgres
      - meilisearch
    volumes:
      - ./:/srv/app
      # 排除 node_modules 和 dist，使用容器内构建的版本，不然meilisearch插件无法使用
      - /srv/app/node_modules
      - /srv/app/dist
    ports:
      - "1337:1337"
    environment:
      HOST: 0.0.0.0
      PORT: 1337
      DATABASE_CLIENT: postgres
      DATABASE_HOST: postgres
      DATABASE_PORT: 5432
      DATABASE_NAME: strapidb
      DATABASE_USERNAME: strapiuser
      DATABASE_PASSWORD: jaysen
      DATABASE_SSL: "false"

      MEILI_HOST: http://meilisearch:7700
      MEILI_MASTER_KEY: masterKey
  #nginx Docker内部代理
  nginx:
    image: nginx:latest
    container_name: blog_nginx
    restart: always
    ports:
      - "8088:80"
    volumes:
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - strapi

  adminer:
    image: adminer:latest
    container_name: adminer
    restart: always
    ports:
      - "8089:8080"
    environment:
      ADMINER_DEFAULT_SERVER: postgres

volumes:
  postgres_data:
  meili_data:

# Strapi: http://localhost:1337/admin # CMS 内容管理
# Meilisearch 控制台: http://localhost:7700 #搜索引擎控制台
# Adminer: http://localhost:8089 # 网页方式连接数据库
# PostgreSQL: 127.0.0.1:5433 #psql连接方式