services:
  postgres:
    image: postgres:16
    container_name: blog_postgres
    restart: always
    environment:
      POSTGRES_DB: ${DATABASE_NAME}
      POSTGRES_USER: ${DATABASE_USERNAME}
      POSTGRES_PASSWORD: ${DATABASE_PASSWORD}
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5433:5432"

  strapi:
    container_name: blog_strapi
    build:
      context: ./
      dockerfile: Dockerfile
    restart: always
    env_file: .env
    depends_on:
      - postgres
    volumes:
      - ./:/srv/app
    ports:
      - "1337:1337"
    environment:
      HOST: 0.0.0.0
      PORT: 1337
      DATABASE_HOST: postgres
      
  nginx:
    image: nginx:latest
    container_name: blog_nginx
    restart: always
    ports:
      - "8088:80"
    volumes:
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - strapi

volumes:
  postgres_data:
